body
{
  background-image: url('https://st4.depositphotos.com/7646640/21508/v/600/depositphotos_215081164-stock-illustration-illustration-sheep-jumping-fence-blue.jpg');
  background-repeat: repeat-y;
  background-size: 648px 428px;
}

.counter{
    color: white;
    background: #4682B4;
    display: block;
    text-align: center;
    margin: 40px 280px 180px;
    line-height: 50px;
    width: 70px;
    height: 50px;
    font-size: large;
}

.button{
    display: block;
    color: white;
    font-weight: 600;
    font-size: 15px;
    text-decoration: none;
    user-select: none;
    padding: 20px;
    outline: none;
    border: 2px solid;
    border-radius: 1px;
    background: #4682B4;
    margin: 240px 280px 0px;
}