body
{
  background-image: url('https://sun9-28.userapi.com/impg/b8UIBQnelc-WVxT4i3vR9SZdLLR2-N78QN1Jeg/mcE2JZy3a24.jpg?size=1280x831&quality=96&sign=bed9b6594f24694a3583eb7101b5f39f&type=album');
  background-repeat: no-repeat;
  background-size: 1327px 627px;
}

.counter{
    color: white;
    background: #4682B4;
    display: block;
    text-align: center;
    margin: 75px 585px 0px;
    line-height: 60px;
    border-radius: 10px;
    width: 100px;
    height: 65px;
    font-size: 20px;
}

.button{
    display: block;
    color: white;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    user-select: none;
    padding: 25px;
    outline: none;
    border: 2px solid;
    border-radius: 10px;
    width: 120px;
    background: #4682B4;
    margin: 350px 585px 0px;
}